<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Helm Repo</title>
  <meta name="description" content="Helm Chart Repo">
  <meta name="author" content="Ed Robinson">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|IBM+Plex+Mono|IBM+Plex+Sans" rel="stylesheet">
  <style>
    body {
      font-family: 'IBM Plex Sans', sans-serif;
      background: lightgrey;
    }

    h1 {
      font-family: 'Press Start 2P', cursive;
    }

    h1, main, pre {
      margin: 1em;
    }

    main {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
      grid-gap: 1em;
    }

    .package {
      box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
      max-width: 30em;
      background: aliceblue;
      border-radius: 0.5em;
    }

    .package header:before,
    .package header:after {
      content: "";
      display: table;
      clear: both;
    }

    .package header {
      background: lightskyblue;
      padding: 0.5em;
    }

    .package header h2 {
      margin: 0.2em;
    }

    .package header h3 {
      font-family: 'IBM Plex Mono', monospace;
      float: right;
      margin: 0.2em;
    }

    .package p {
      padding: 0 1em;
    }

    pre {
      font-family: 'IBM Plex Mono', monospace;
      padding: 1em;
      background: white;
    }
  </style>
</head>

<body>
  <h1>Helm Repo</h1>
  <pre>helm repo add errm https://errm.github.io/charts/</pre>
  <main>
    <% CHARTS.each do |chart| %>
      <div class="package">
        <header>
          <h3><%= chart["version"] %></h3>
          <h2><%= chart["name"] %></h2>
        </header>
        <div class="description">
          <p><%= chart["description"] %></p>
          <pre>helm repo update
helm install errm/<%= chart["name"] %></pre>
          <% if chart["home"] %>
            <p><a href="<%= chart["home"] %>"><%= chart["home"] %></a></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </main>
</body>
</html>
